.login-bg {
    background-color: #131D78;
}

.login-card {
    width: 380px;
    color: white;
    background-color: #010742;    
    border-radius: 16px;    
    padding: 24px;
    box-shadow: 0 4px 20px #010742;
}

.logo-unpam {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.navbar-logo {
    height: 35px;
    width: auto;
}

.navbar {
  background-color: transparent !important;
  box-shadow: none !important; 
}

body {
  background-image: url("/images/background HP.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll; 
}

.login-bg {
  min-height: 100vh;
  background-image: url("/images/Login Bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  padding: 30px;
  background: #f6f7fb;
  min-height: 100vh;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px 15px;
  width: 280px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* TITLE */
.page-title {
  color: #0d6efd;
  font-weight: 600;
}

/* TABS */
.tabs {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}

.tab {
  cursor: pointer;
  color: #777;
  font-weight: 500;
}

.tab.active {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 6px;
}

/* FILTER */
.filter {
  margin-bottom: 30px;
}

.filter input {
  width: 100%;
  max-width: 450px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* EVENT GRID */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.event-card {
  background: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.event-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.event-card h5 {
  margin-top: 10px;
  font-size: 15px;
}

/* FLOATING HELP */
.help-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #0d6efd;
  color: white;
  padding: 15px 22px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
