.login-bg {
    background-color: #131D78;
}

.login-card {
    width: 380px;
    color: white;
    background-color: #010742;    
    border-radius: 16px;    
    padding: 24px;
    box-shadow: 0 4px 20px #010742;
}

.logo-unpam {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.navbar-logo {
    height: 35px;
    width: auto;
}

.navbar {
  background-color: transparent !important;
  box-shadow: none !important; 
}

body {
  background-image: url("/images/background HP.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll; 
}

