.input-custom {
    background-color: blueviolet !important;
     border: 2px solid #0d6efd;  
    color: #000;   
}

.input-custom::placeholder {
    background-color: purple;
    color: aqua;
}

.login-bg {
    background-color: bisque;
}